  <div class="container" >


    <div class="icon" id="Messages">
      <img src="/assets/Messages.png" alt="" height="55px" />
    </div>

    <div class="icon" id="Calendar">
      <img src="/assets/Calendar.png" alt="" height="55px" />
    </div>


    <div class="icon" id="Camera">
        <img src="/assets/Camera.png" alt="" height="55px"/>
    </div>

    <div class="icon" id="Notes">
        <img src="/assets/Notes.png" alt="" height="55px"/>
    </div>

    <div class="icon" id="Videos">
        <img src="/assets/Videos.png" alt="" height="55px"/>
    </div>

    <div class="icon" id="Settings">
        <img src="/assets/Settings.png" alt="" height="55px"/>
    </div>

    <div class="icon" id="iBooks">
        <img src="/assets/iBooks.png" alt="" height="55px"/>
    </div>

    <div class="icon" id="iTunes">
      <img src="/assets/iTunes.png" alt="" height="55px"/>
    </div>

    <div class="icon" id="App_Store">
      <img src="/assets/App_Store.png" alt="" height="55px"/>
    </div>

    <div class="icon" id="Clock">
      <img src="/assets/Clock.png" alt="" height="55px"/>
    </div>

    <div class="icon" id="Calculator">
      <img src="/assets/Calculator.png" alt="" height="55px"/>
    </div>


    <div class="icon" id="Twitter">
      <img src="/assets/Twitter.png" alt="" height="51px" />
    </div>

    <div class="icon" id="imdb">
      <img src="/assets/imdb.png" alt="" height="51px" />
    </div>


    <div class="change-background">
      <img src="" alt="" />
    </div>
  </div>

<div class="container-shelf" id="con-shelf" >

  <div class="icon" id="Mail">
    <img src="/assets/Mail.png" alt="" height="55px" />
  </div>

  <div class="icon" id="Safari">
    <img src="/assets/Safari.png" alt="" height="55px" />
  </div>

  <div class="icon" id="Photos">
    <img src="/assets/Photos.png" alt="" height="55px"/>
  </div>

  <div class="icon" id="podcasts">
    <img src="/assets/podcasts.png" alt="" height="50px"/>
  </div>

  <div class="icon" id="Music">
    <img src="/assets/Music.png" alt="" height="55px" />
  </div>


</div>

<div class="shelf" id="dock">
  <img src="/assets/dock.png" alt="" />
</div>
